{% extends 'base.html' %}

{% block error-message %}
<h4>{{message}}</h4>
{% endblock %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2 id="welcome-header">Welcome {{ user.name }} !</h2>
<h2 id="balance">Your balance is: {{ user.balance }} !</h2>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ticket.quantity}} {{ticket.email}} {{ ticket.price }}</h4>
    </div>
{% endfor %}
</div>

<form method="post">
    <div class="form-group">
        <label>Sell</label>
        <label for="sell-name">Name</label>
        <input class="form-control" name="sell-name" id="sell-name" required>
        <label for="sell-quantity">Quantity</label>
        <input class="form-control" name="sell-quantity" id="sell-quantity" required>
        <label for="sell-price">Price</label>
        <input class="form-control" name="sell-price" id="sell-price" required>
        <label for="sell-expiration-date">Expiration Date</label>
        <input class="form-control" name="sell-expiration-date" id="sell-expiration-date" required>
        <input class="btn btn-lg btn-primary" type="submit" id="sell-btn-submit" value="Sell">
    </div>
</form>
<form method="post">
    <div class="form-group">
        <label>Buy</label>
        <label for="buy-name">Name</label>
        <input class="form-control" name="buy-name" id="buy-name" required>
        <label for="buy-quantity">Quantity</label>
        <input class="form-control" name="buy-quantity" id="buy-quantity" required>
        <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Buy">
    </div>
</form>
<form method="post">
    <div class="form-group">
        <label>Update</label>
        <label for="update-name">Name</label>
        <input class="form-control" name="update-name" id="update-name" required>
        <label for="update-quantity">Quantity</label>
        <input class="form-control" name="update-quantity" id="update-quantity" required>
        <label for="update-price">Price</label>
        <input class="form-control" name="update-price" id="update-price" required>
        <label for="update-expiration-date">Expiration Date</label>
        <input class="form-control" name="update-expiration-date" id="update-expiration-date" required>
        <input class="btn btn-lg btn-primary" type="submit" id="update-btn-submit" value="Update">
    </div>
</form>
<a href='/logout'>logout</a>
{% endblock %}
